@model IEnumerable<CartApp.Models.Product>
@inject SignInManager<IdentityUser> signInManager;


@{
        ViewData["Title"] = "Index";
}

<h1>Sklep</h1>

<p>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" width="100px" height="100px" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (signInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                        }
                <div class="nav-item">
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id">Add to cart</a>
                </div>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
