@model IEnumerable<CartApp.Models.Order>
@inject SignInManager<IdentityUser> signInManager;


@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Country
            </th>
            <th>
                StreetAdress
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Country
                </td>
                <td>
                    @item.StreetAdress
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a asp-action="DeleteCartOrder" asp-route-id="@item.Id"> Delete </a> |
                    <a asp-action="OrderDetails" asp-route-id="@item.Id"> Order Details </a>
                </td>
            </tr>           
        }
    </tbody>
</table>
